
@page "/Gallery"
@using FTH.Code





<CardDeck>
    @foreach (var card in Images.Reverse())
    {
        <Card class="image-card">
            <CardBody>
                <CardImage Source="@card.ImageUrl" Alt="@("Image from "+card.Name)" @onclick="(()=>Show(card))" />
            </CardBody>
            <CardFooter>
                <div>
                    Thanks to @card.Name
                </div>
                <div style="max-width: 200px; margin: auto;">
                    <Button To="@card.CreditUrl" Type="ButtonType.Link" Color="Color.Primary" Block="true">See more</Button>
                </div>
            </CardFooter>
        </Card>
    }
</CardDeck>

<ImageModal @ref="ImageModal" />


@code
{

    private ImageModal ImageModal { get; set; }

    private void Show(ImageCard card)
    {
        ImageModal.Show(card);
    }



    private static IEnumerable<ImageCard> Images = new[]
    {

        new ImageCard()
        {
            CreditUrl = "https://www.instagram.com/vienuolis_bajoris_rojus/",
            ImageUrl = "/Images/138751425_2943264349226642_67593107925636732_n.jpg",
            Name = "@vienuolis_bajoris_rojus"
        },
        new ImageCard()
        {
            ImageUrl = "/Images/137605600_415605152886912_963065149566115234_n.jpg",
            CreditUrl = "https://www.instagram.com/vienuolis_bajoris_rojus/",
            Name="@vienuolis_bajoris_rojus",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/139748099_4903620723046261_9112986289418049957_n.jpg",
            CreditUrl = "https://www.instagram.com/megusaart/",
            Name="@megusaart",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/141614946_110730634321503_7422312608304380689_n.jpg",
            CreditUrl = "https://www.instagram.com/decay.jpg/",
            Name="@decay.jpg",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/140816394_114655033901680_8739085387172298777_n.jpg",
            CreditUrl = "https://www.instagram.com/theforbiddencelt/",
            Name="@theforbiddencelt",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/139595652_2825689787647248_7380982119054655655_n.jpg",
            CreditUrl = "https://www.instagram.com/faegir_dariusson/",
            Name="@faegir_dariusson",
        },

        new ImageCard()
        {
            ImageUrl = "/Images/143836261_3803938959670744_1700341519525420274_n.jpg",
            CreditUrl = "https://www.facebook.com/233011750096834",
            Name="Tal Dibner Historic Art",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/139716456_106294958107863_8357862693134835692_n.jpg",
            Name="Jade Jones",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/147486355_1311379945908709_2675240990353945324_n.jpg",
            CreditUrl="https://www.instagram.com/ghonz.art",
            Name="@ghonz.art",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/amazing spiderdad.jpg",
            CreditUrl="https://www.instagram.com/p/CHxTdlwAabz/",
            Name="@amazing_spider_dad",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/goatworn armband.png",
            CreditUrl="https://www.facebook.com/Goatworn/",
            Name="Goatworn Armband",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/goatworn armband2.png",
            CreditUrl="https://www.facebook.com/Goatworn/",
            Name="Goatworn Armband",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/Nicola lillie.jpg",
            CreditUrl="https://www.nicolalillie.com/",
            Name="Nicola Lillie",
        },
        new ImageCard()
        {
            ImageUrl = "/Images/Vilde Kristin.jpg",
            CreditUrl="https://www.instagram.com/__magoa__/",
            Name="@__magoa__",
        },
    };



}
